$bgc: rgba(0, 0, 0, 0.844);
$bgc-on-hover: rgba(0, 0, 0, 0.860);
.left-column {
  cursor: pointer;
  overflow: hidden;
  background-color: $bgc;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 221vh;
  width: 25px;
  transition: width .5s cubic-bezier(0.77, 0.03, 0.2, 1),
              background-color .1s linear;
  &.open {
    width: 204px;
    cursor: unset;
  }
  &.stowed {
    width: 0;
  }
  &:hover {
    background-color: $bgc-on-hover;
  }
}

* {
  &:focus {
    outline: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}