$bgc: rgba(0, 0, 0, 0.844);
$bgc-on-hover: rgba(0, 0, 0, 0.860);
.left-column {
  overflow: hidden;
  background-color: $bgc;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 25px;
  transition: width .5s cubic-bezier(0.77, 0.03, 0.2, 1), background-color .1s linear;
  cursor: pointer;
  &.open {
    width: 204px;
    cursor: unset;
  }
  &:hover {
    background-color: $bgc-on-hover;
  }
}

html, body, #root, .App, main, embed {
  width: 100%;
  height: 100%;
  ::-webkit-scrollbar {
    display: none;
  }
}