.Bio {
  font-family: 'Roboto Slab', serif;
  width: 705px;
  max-height: 525px;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  font-size: 19px;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  strong, h5 {
    color: rgba(0, 0, 0, 0.9);
  }
  p {
    font-size: 1.1em;
    margin-bottom: 3em;
  }
  sup {
    font-size: 15px;
  }
  h5 {
    font-size: 16px;
    margin: 5px 0;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}