.Bio {
  font-family: 'Roboto Slab', serif;
  width: 65%;
  height: 355px;
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  font-size: 19px;
  text-align: center;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
  animation-duration: 1s;
  p {
    font-size: 1.1em;
  }
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}