.Contact {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 704px;
  height: 650px;
  font-size: 20px;
  .header, p {
    text-align: center;
  }
  .header {
    font-size: 1.8em;
  }
  p {
    font-size: 18px;
  }
  span {
    color: red;
    transition: color .3s;
    &.filled {
      color: rgba(0, 0, 0, 0.762);
    }
  }
  label {
    display: block;
    position: relative;
    width: 430px;
    margin: 40px auto;
    color: rgba(0, 0, 0, 0.762);
  }
  input[type="text"], input[type="email"], input[type="tel"], textarea {
    font-family: NolanNext-Regular,helvetica,arial,sans-serif;
    position: absolute;
    right: 0;
    font-size: 20px;
    border-radius: 3px;
    border: 1px solid #00000080;
    width: 290px;
    padding: 3px 4px;
  }
  textarea {
    height: 106px;
    resize: none;
    font-size: 16px;
  }
  #name {
    margin-bottom: 71px;
    input:last-child {
      bottom: -44px;
    }
  }
  .send {
    width: 81px;
    margin: 108px auto;
    #send {
      cursor: pointer;
      font-size: 21px;
      border: 1px solid #a6a6a6;
      padding: 6px 16px;
      border-radius: 6px;
    }
  }
}