.FileTree {
  // default
  font-family: 'Roboto Slab', serif;
  position: fixed;
  z-index: 1;
  left: 10px;
  top: 7px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  // tree
  .tree {
    list-style: none;
    margin: 0;
    padding: 0;
    // unordered lists
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 1.0em;
    }
    // links
    a {
      text-decoration: none;
      color: black;
      // links on hover
      &:hover {
        color: blue;
      }
      // currently selected link
      &.current {
        font-style: oblique;
      }
    }
    // lists and their branches
    li {
      margin-left: 0.35em;
      border-left: thin solid #000;
      &:last-child {
        border-left: none;
      }
      &::before {
        width: 0.9em;
        height: 0.6em;
        margin-right: 0.1em;
        vertical-align: top;
        border-bottom: thin solid #000;
        content: "";
        display: inline-block;
      }
      &:last-child:before {
        border-left: thin solid #000;
      }
    }
    // Children toggle button
    span {
      // Box that holds plus
      .toggle-container {
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        right: -4px;
        top: 2px;
        // box-style on hover
        &.hover {
          background: #b2b4c32e;
        }
        // box-style on active link
        &.active {
          box-shadow: inset 0px 0px 2px 1px #80808052;
        }
        // box-style on click
        &.open {
          background: #f2f2f2;
          box-shadow: inset 0px 0px 2px 3px rgba(128, 128, 128, 0.337);
          &.hover {
            box-shadow: inset 0px 0px 2px 3px rgba(164, 164, 164, 0.337);
            &.active {
              box-shadow: inset 0px 0px 3px 3px rgba(103, 103, 103, 0.337);          
            }
          }
        }
        // Plus / minus
        .toggle {
          position: relative;
          &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            right: -12px;
            width: 8px;
            height: 2px;
            margin-top: -1px;
            background-color: #000;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
          }
          &::before {
            -webkit-transform: rotate(-270deg);
            -ms-transform: rotate(-270deg);
            transform: rotate(-270deg);
            opacity: 0;
          }
          &.collapsed::before {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity: 1;
          }
          &.collapsed::after {
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}