.FileTree {
  font-family: 'Roboto Slab', serif;
  position: absolute;
  left: 6px;
  top: 6px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
  // Styles "tree"
  .tree {
    list-style: none;
    margin: 0;
    padding: 0;
    // Styles unordered lists
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 1.0em;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover {
        color: blue;
      }
      &.current {
        font-style: oblique;
      }
    }
    // Styles branches
    li {
      margin-left: 0.35em;
      border-left: thin solid #000;
      &:last-child {
        border-left: none;
      }
      &::before {
        width: 0.9em;
        height: 0.6em;
        margin-right: 0.1em;
        vertical-align: top;
        border-bottom: thin solid #000;
        content: "";
        display: inline-block;
      }
      &:last-child:before {
        border-left: thin solid #000;
      }
    }
    // Styles toggle button
    span {
      .toggle-container {
        cursor: pointer;
        display: inline-block;
        width: 15px;
        height: 15px;
        position: relative;
        right: -4px;
        top: 2px;
        &.clicked {
          background: #f2f2f2;
        }
        .toggle {
          position: relative;
          &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            right: -12px;
            width: 8px;
            height: 2px;
            margin-top: -1px;
            background-color: #000;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transition: all 0.25s;
            transition: all 0.25s;
          }
          &::before {
            -webkit-transform: rotate(-270deg);
            -ms-transform: rotate(-270deg);
            transform: rotate(-270deg);
            opacity: 0;
          }
          &.collapsed::before {
            -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            transform: rotate(0deg);
            opacity: 1;
          }
          &.collapsed::after {
            -webkit-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
}