
.FlipCard {
  background-color: transparent;
  perspective: 1000px;
  margin: 20px auto;
  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    .front, .back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
    }
    .front {
      z-index: 2;
    }
    .back {
      z-index: -1;
      transform: rotateY(180deg);
    }
  }
  .inner.flipped {
    transform: rotateY(180deg);
  }
}