/* Variables */
// screen sizes
$small: "(min-width: 320px) and (max-width: 767px)";
$medium: "(min-width: 768px) and (max-width: 1023px)";
$large: "(min-width: 1024px)";
// measurements
$lg_tilt: 3.3deg;
$link_hover_scale: 1.2;
// colors
$nav_link_color: rgba(27, 32, 52, 0.728);

.wordmark {
  text-align: center;
}

.Footer {
  background-color: #e9e9e9;
  height: 118px;
  width: 108%;
  position: fixed;
  left: -11px;
  bottom: -54px;
  // tilt nav on screen-size change
  animation: straighten 1s forwards;
  @media #{$large} {
    animation: tilt-right 1s forwards;
  }

  ul {
    list-style-type: none;
    li {
      float: left;
      transition: all .2s ease-in-out;
      &:hover {
        -webkit-transform: scale($link_hover_scale);
        -ms-transform: scale($link_hover_scale);
        transform: ease .5 scale($link_hover_scale);
      }
      a {
        color: $nav_link_color;
        text-decoration: none;
        font-size: 1.3em;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
      }
    }
  }
}

/* Animations */
@keyframes tilt-right {
  from {
    transform: rotate(0deg);
    bottom: -54px;
  } to {
    transform: rotate($lg_tilt);
    bottom: -88px;
  }
}
@keyframes straighten {
  to {
    transform: rotate(0deg);
    bottom: -54px;
  } from {
    transform: rotate($lg_tilt);
    bottom: -88px;
  }
}

/* Mixins */
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
