$nav_angle: 3.3deg;
$link_hover_scale: 1.2;
$link_color: rgba(27, 32, 52, 0.728);

.wordmark {
  text-align: center;
}

.footer {
  background-color: #e9e9e9;
  height: 92px;
  width: 100%;
  -webkit-transform: skewY($nav_angle);
  transform: skewY($nav_angle);
  position: fixed;
  left: -11px;
  bottom: -54px;

  ul {
    list-style-type: none;
    li {
      float: left;
      transition: all .2s ease-in-out;
      &:hover {
        -webkit-transform: scale($link_hover_scale);
        -ms-transform: scale($link_hover_scale);
        transform: ease 1.5 scale($link_hover_scale);
      }
      a {
        color: $link_color;
        text-decoration: none;
        font-size: 1.5em;
        font-family: 'Raleway', sans-serif;
        font-weight: bold;
      }
    }
  }
}

// Mixins
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
