.Home {
  width: 100vw;
  height: 100vh;
  background-color: salmon;
  font-family: 'Roboto Slab', serif;
  .container {
    background-color: inherit;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 645px;
    height: 70px;
    font-size: 50px;
    .link {
      text-decoration: none;
      color: white;
    }
  }
}