.CGOL {
  padding-left: 14%;
  .Life {
    // Units of "life"
    .Cell {
      cursor: pointer;
      fill: #808080;
      width: 9.7px; // default 9.5
      height: 9.7px; // change to '5' for interesting appearance
      // transform-origin: 50% 50%;
      // transform-box: fill-box;
      // animation-name: brief-grow;
      // animation-duration: .5s;
      // animation-fill-mode: forwards;
      // animation-timing-function: ease;
    }
  
    // Allows interface with the GoL
    .Interface {

      /* Starts and stops the current game */
      #start {
        cursor: pointer;
        margin-left: 2px;
        margin-right: 6px;
        &.unpaused {
          color: blue;
        }
      }

      /* Displays current game data on hover */
      // information icon
      #tooltip {
        position: relative;
        display: inline-block;
        // hidden message
        #tooltiptext {
          visibility: hidden;
          width: 150px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: 53%;
          left: 46.5%;
          margin-left: -60px;
          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -19.5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
          }
        }
        // hover reveals hidden message
        &:hover #tooltiptext {
          visibility: visible;
        }
      }
    }
  }
}

@keyframes brief-grow {
  0%{
    transform: scale(1)
  } 50% {
    transform: scale(1.2)
  } 100% {
    transform: scale(1)
  }
}