.CGOL {
  padding-left: 14%;
  .Life {
    margin-top: 50px;
    margin-left: 50px;
    float: left;
    // Units of "life
    .Cell {
      cursor: pointer;
      fill: #808080;
      width: 9.7px; // default 9.7
      height: 9.7px; // change to '5' for interesting appearance
      &.paused {
        transform-origin: 50% 50%;
        transform-box: fill-box;
        animation-name: brief-grow;
        animation-duration: .5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease;
      }
    }
  
    // Allows interface with the GoL
    .Interface {

      /* Starts and stops the current game */
      #start {
        cursor: pointer;
        margin-left: 2px;
        margin-right: 6px;
        &.unpaused {
          color: blue;
        }
      }
      /* Resets the game */
      #reset {
        cursor: pointer;
        margin-left: 2px;
        margin-right: 7px;
      }
      /* Displays current game data on hover */
      // information icon
      #tooltip {
        margin-left: 2px;
        margin-right: 6px;
        position: relative;
        display: inline-block;
        // hidden message
        #tooltiptext {
          visibility: hidden;
          width: 150px;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: 53%;
          left: 46.5%;
          margin-left: -60px;
          &::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -19.5px;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent black transparent;
          }
        }
        // hover reveals hidden message
        &:hover #tooltiptext {
          visibility: visible;
        }
      }
      select {
        cursor: pointer;
        &:focus {
          outline: none
        }
      }
      /* Chooses preset for game */
      #presets {
        margin-right: 6px;
      }
    }
  }

  /* The description and rules of the game */
  .description {
    width: 21%;
    height: 602px;
    overflow: auto;
    float: right;
    margin-right: 12px;
    margin-top: 50px;
    h2 {
      border-bottom: 1px solid #eaecef;
      margin-top: 0px;
      padding-bottom: .3em;
    }
    blockquote {
      margin-left: 1em;
      border-left: .25em solid #dfe2e5;
      color: #51575e;
      padding: 0 1em;
    }
    hr {
      background-color: #e1e4e8;
      border: 0;
      height: .25em;
      margin: 24px 0;
      padding: 0;
    }
    ul {
      padding-inline-start: 20px;
    }
    li+li {
      margin-top: .4em;
    }
    li, p, blockquote {
      line-height: 1.5;
    }
    li {
      list-style: square;
    }
    p {
      margin-bottom: 16px;
      margin-top: 0;
    }
  }
}

::-webkit-scrollbar {
  display: none !important;
  width: 0 !important;
}

@keyframes brief-grow {
  0%{
    transform: scale(1)
  } 50% {
    transform: scale(1.2)
  } 100% {
    transform: scale(1)
  }
}