.Path {
  // positioning
  position: fixed;
  z-index: 1;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  // styling
  // background: #757272bf;
  background: #474747;
  cursor: default;
  font-weight: bold;
  color: white;
  padding: 3px 7px;
  border: 1px solid #dedede;
  border-radius: 4px;
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover {
      // color: rgb(252, 207, 248);
      color: #fc80b1;
    }
  }
}