.Path {
  // positioning
  position: fixed;
  z-index: 2;
  top: 13px;
  left: 50%;
  transform: translateX(-50%);
  // styling
  background: #474747;
  font-family: 'Hack';
  // background: #757272bf;
  cursor: default;
  font-weight: bold;
  color: white;
  padding: 3px 7px;
  border: 1px solid #dedede;
  border-radius: 4px;
  opacity: .8;
  animation-duration: 3s;
  animation-name: show-hide;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  &:hover { animation-play-state: paused; }
  a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    &:hover {
      color: #fc80b1;
    }
  }
}

@keyframes show-hide {
  0% { opacity: .9; }
  50% { opacity: .9; }
  100% { opacity: 0; }
}