$width: 370px;
$height: 60px;
$bg: salmon;
$text: white;
$prism-border: rgba(245, 117, 103, 0.707);
$prism-shadow: rgba(247, 158, 158, 0.351);
.Prism {
  font-size: 50px;
  position: absolute;
  right: -58px;
  top: 6px;
  perspective: 800px;
  perspective-origin: 50% ($height / 2);
  .spinner {
    position: relative;
    width: $width;
    transform-style: preserve-3d;
    margin: 0 auto;
    transform-origin: 0 ($height / 2);
    animation: spin 10s infinite ease; // duration must equal duration of this.startCycle() in Prism.js
    animation-delay: 3s; // delay must equal delay in componentDidMount() in Prism.js 
    .side {
      position: absolute;
      border: 1px solid $prism-border;
      box-shadow: inset 0 0 20px $prism-shadow;
      background-color: $bg;
      color: $text;
      line-height: 1.1em;
      padding-left: 7px;
      width: $width;
      height: $height;
      &.face1 { // front
        transform: translateZ(($height / 2));
      }
      &.face2 { // top
        transform: rotateX(-270deg) translateY(-($height / 2));
        transform-origin: top center;
      }
      &.face3 { // back 
        transform: translateZ(-($height / 2)) rotateX(180deg);
      }
      &.face4 { // bottom
        transform: rotateX(-90deg) translateY(($height / 2));
        transform-origin: bottom center;
      }
    }
  }
}

@keyframes spin {
  0% { transform: rotateX(0); }
  5% { transform: rotateX(-90deg); }
  25% { transform: rotateX(-90deg); }
  30% { transform: rotateX(-180deg); }
  50% { transform: rotateX(-180deg); }
  55% { transform: rotateX(-270deg); }
  75% { transform: rotateX(-270deg); }
  80% { transform: rotateX(-360deg); }
  100% { transform: rotateX(-360deg); }
}

